@import "tailwindcss";
@import 'flatpickr/dist/flatpickr.css';
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-raleway {
  font-family: var(--font-raleway);
}
.font-pinyon {
  font-family: var(--font-pinyon-script);
}
input-placeholderinput.custom-placeholder::placeholder {
  color: black;
  opacity: 1;
}

/* Vendor prefixes for broader browser support */
input.custom-placeholder::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

input.custom-placeholder::-moz-placeholder {
  color: black;
  opacity: 1;
}

input.custom-placeholder:-ms-input-placeholder {
  color: black;
  opacity: 1;
}
